:root{
    --main-text-color: #000;
    --main-font-weight-middle: 500;
    --font-weight: 700;
    --white-color: #fff;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), 
         url("../fonts/roboto-v30-latin-regular.woff") format("woff"); 
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
         url("../fonts/roboto-v30-latin-500.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
         url("../fonts/roboto-v30-latin-700.woff") format("woff");
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

p{
    margin: 0;
}

.container{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../images/footer-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo{
    display: block;
}

.nav-list{
    display: flex;
}

.nav-item:not(:last-child){
    margin-right: 40px;
}

.nav-link{
    font-weight: var(--font-weight);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
}

/* hero section begin */

.hero{
    width: 100%;
    padding-top: 116px;
    padding-bottom: 249px;
    background-image: url("../images/hero-bg.svg");
    background-size: cover;
}

.hero-box{
    position: relative;
    display: flex;
}

.hero-info{
    width: 464px;
    margin-left: 100px;
}

.hero-title{
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: var(--font-weight);
    font-size: 64px;
    line-height: 75px;
    color: var(--main-text-color);
}

.hero-text{
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-text-color);
}

.hero-link{
    padding: 16px 24px;
    font-weight: var(--main-font-weight-middle);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    color: var(--white-color);
    background-color: #fff;
    background-color: #0A775F;
    border-radius: 100px; 
    text-transform: uppercase;      
}

.hero-img-box{
    position: absolute;
    right: -4%;
    bottom: -75%;
    width: 710px;
    height: 696px;
    background-image: url("../images/hero-box-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-img-box::before{
    position: relative;
    top: -10%;
    left: -11%;
    display: block;
    width: 160px;
    height: 160px;
    content: "";
    background-image: url("../images/hero-box-before.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.collection-box{
    margin: 20px;
    padding: 50px 0;
    background-image: url("../images/collection-bg.svg"); 
    background-position: center;  
    background-size: cover;
    background-repeat: no-repeat;
}

.collection-title{
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: var(--font-weight);
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.collection-list{
    width: 1114px;
    margin: 0 auto;
}

.collection-item{
    position: relative;
    display: flex;
    align-items: center;
}

.collection-item:first-child::before{
    position: absolute;
    top: -29%;
    left: -23%;
    width: 402px;
    height: 300px;
    background-image: url("../images/leap.svg");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.collection-item:nth-child(2)::before{
    position: absolute;
    top: 45%;
    right: -32%;
    width: 392px;
    height: 477px;
    background-image: url("../images/leap-middlle.svg");
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
}

.collection-item:last-child::before{
    position: absolute;
    bottom: -3%;
    left: -33%;
    width: 392px;
    height: 477px;
    background-image: url("../images/leap-bottom.svg");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.collection-item:nth-child(even){
    flex-direction: row-reverse;
}

.item-img{
    margin-right: 117px;
}

.even-img{
    margin: 0;
}

.item-box{
    width: 410px;
}

.gran-box{
    width: 390px;
    margin-right: 117px;
}

.picollo-box{
    width: 390px;
}

.planalto-box{
    width: 410px;
    margin-right: 97px;
}

.item-title{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: var(--main-font-weight-middle);
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #333333;
}

.item-text{
    margin: 0;
    font-size: 22px;
    line-height: 34px;
    color: #333333;
}

/* choose section begin */

.choose-box{
    position: relative;
    z-index: 1;
    margin: 20px;
    margin-bottom: 289px;
    padding-top: 50px;
    padding-bottom: 500px;
    background-image: url("../images/choose-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.choose-info-box{
    width: 581px;
    margin: 0 auto;
    text-align: center;
}

.choose-title{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: var(--font-weight);
    font-size: 50px;
    line-height: 59px;
    color: var(--white-color);
    text-transform: uppercase;
}

.choose-text{
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    color: var(--white-color);
    opacity: 0.8;
}

.choose-list{
    position: absolute;
    top: 40%;
    transform: translateX(-8px);
    z-index: 2;
    display: flex;
}

.choose-item{
    width: 433px;
}

.choose-item:first-child{
    position: relative;
}

.choose-item:first-child::before{
    position: absolute;
    top: -8%;
    left: -12%;
    width: 140px;
    height: 144px;
    content: "";
    background-image: url("../images/best-before.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.choose-item:not(:last-child){
    margin-right: 20px;
}

.choose-img{
    width: 433px;
    height: 500px;
    margin-bottom: 28px;
}

.choose-item-box{
    width: 377px;
}

.free-box{
    width: 334px;
}

.choose-heading{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: var(--main-font-weight-middle);
    font-size: 30px;
    line-height: 35px;
    color: #333333;
    text-transform: uppercase;
}

.choose-desc{
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}

/* works section begin */

.works-box{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    padding: 50px 0;
    background-image: url("../images/lines.svg"), url("../images/works-bg.svg");
    background-size: 966px 60px, cover;
    background-repeat: no-repeat;
    background-position: calc(50% - 187px) calc(50% - 193px), center;
}

.works-title{
    margin-top: 0;
    margin-bottom: 160px;
    text-align: center;
}

.works-info-box{
    /* text-align: center; */
}

.works-img{
    width: 966px;
    height: 60px;
    margin-bottom: 20px;
}

.works-list{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.works-list::after{
    position: absolute;
    top: -59%;
    right: 3%;
    width: 192px;
    height: 140px;
    background-image: url("../images/but-first.svg");
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
}

.works-list::before{
    position: absolute;
    top: -59%;
    right: 3%;
    width: 192px;
    height: 140px;
    background-image: url("../images/but-first.svg");
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
}

.works-item{
    padding: 20px 20px 40px 20px;
    width: 433px;
    background-color: #F8F8F2;
}

.number{
    display: block;
    margin-bottom: 45px;
    font-size: 64px;
    line-height: 75px;
    color: #333333;
    opacity: 0.8;
    text-align: end;
}

.works-item-title{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: var(--main-font-weight-middle);
    font-size: 40px;
    line-height: 47px;
    color: #333333;
    text-transform: uppercase;
}

.works-text{
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}

.works-link-box{
    display: flex;
    justify-content: center;
}

.works-link{
    background-color: #C99B67;
}

/* site footer begin */

.site-footer{
    padding: 65px 0;
    background-image: url("../images/footer-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-box{
    display: flex;
    align-items: center;
}

.foote-logo{
    margin-right: 246px;
}

.footer-list{
    margin-right: 322px;
}

.foote-link{
    font-size: 16px;
    line-height: 19px;
}

.social-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons{
    display: block;
}

.facebook-link{
    margin-right: 30px;
}

.twitter-link{
    margin-right: 30px;
}

